<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="orderReview">
	
	<!-- review List  -->
	<select id="reviewList" resultType="orderReviewBean">
		select 
			a.*, p.*
				from `article` a, `product` p
					where 
						a.board_id=3 and
						a.product_id=#{product_id} and
						a.product_id=p.product_id
							ORDER BY a.article_id DESC limit #{startList},#{listSize}
	</select>

	<!-- review detail view -->
	<select id="reviewDetail" parameterType="int" resultType="orderReviewBean">
		select * from `article` where article_id=#{value}
	</select>
	
	<!-- review total count(paging) -->
	<select id="reviewTotal" resultType= "int">
		select count(*) as listCnt from `article` where product_id=#{product_id} and board_id=3
	</select>
	
</mapper>
